.filter-button,
.filter-button:active {
    border-width: 3px;
    border-style: solid;
    border-image: linear-gradient(to bottom, #3cd483, rgba(0, 0, 0, 0)) 1 100%;
    padding: 10px;
    background: none;
    margin: 0 10px;
}

.filter-button:hover,
.filter-button:focus {
    opacity: 0.75;
};