.button {
    border-radius: 10px;
    border: none;
    padding: 3px 10px; 
    border-radius: 15px;
    font-size: 1.2em;
    font-weight: 200;
    transition: all 0.2s;
    margin: 5px;
    border-bottom: 0px solid #eee;
    cursor: pointer;
    background: #3cd483;
    box-sizing: border-box;
    min-width: 40px;
}

.button:active {
    transform: scaleX(0.9) translateY(4px);
}

.button.green:not(:active) {
    border-bottom: 4px solid #3cd483;
}

