.header {
    background-color: green;
    margin: 0 auto;
    min-height: 120px;
    box-shadow: 3px 3px 5px 6px rgb(93, 109, 93);
}

.header__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    min-height: 120px;
}

.logo {
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: normal;
}
.nav__menu {

}

.nav__list {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
    min-width: 200px;
}

.nav__list__item {

}