.stats_style {
    display: grid;
    margin: 40px auto;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 15px;
}

.stats-block {
    height: 30px;
    min-width: 30px;
    margin: 10px;
}

.stats_top_row{
    grid-column: span 3;
}

.stats_down_row {
    grid-column: span 2;
}

.stats_label {
    font-weight: 700;
    font-size: 13px;
    letter-spacing: .025em;
    padding: 0;
    color: #3a97ff;
}

.states_value {
    color: #314563;
    font-weight: 700;
    letter-spacing: .025em;
    font-size: 22px;
}