.stats_style {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 40px auto;
}

.stats-block {
    height: 30px;
    min-width: 30px;
    margin: 10px;
}

.stats_label {
    font-weight: 700;
    letter-spacing: .025em;
    padding: 0;
    color: #3a97ff;
}
.states_value {
    color: #314563;
    font-weight: 700;
    letter-spacing: .025em;
}
