ol {
    list-style: decimal;
}

.list_item {
    display: flex;
    justify-content: space-between;
}

.coin_img {
    width: 20px;

}

.list_item_link {
    cursor: pointer;
}

.table_date {
    padding: 20px;
    border-bottom: #e3f0ff 1px solid;
}

.table_head{
    color: #5a8cc0;
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .2em;
    line-height: 1;
}
.change_indicator_green{
    color: rgb(78, 221, 109);
}
.change_indicator_red{
    color: rgb(221, 95, 78);
}
.sort_btn {
    cursor: pointer;
}
.sort_btn:hover {
    opacity: 0.75;
}