.load-indicator {
  display: inline-block;
  width: 64px;
  height: 64px;
}

.load-indicator::after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #3cd483;
  border-color: #3cd483 transparent #3cd483 transparent;
  animation: load-indicator 1.2s linear infinite;
}

@keyframes load-indicator {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}