.footer {
    box-shadow: 0px 2px 30px 5px rgb(232, 243, 255);
    margin: 0 auto;
    min-height: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.footer-wraper {
    position: relative;
    min-width: 1400px;
    min-height: 100%;
    margin: 0 auto;
    padding: 0 10px;
    display: flex;
    flex-wrap: wrap;
}

.copyright {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    top: 0;
    right: 0;
    position: absolute;
}