.footer {
    box-shadow: 0px -15px 50px 9px rgb(232, 243, 255);
    margin: 0 auto;
    min-height: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

span {
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items:flex-end;
}