
.nav__menu {
    display: flex;
    flex-wrap: wrap;
}

.nav__list {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
    min-width: 200px;
}

.nav__list__item {
    margin-right:  30px;
}

.nav__list__item:last-child {
    margin-right: 0;
}

.active {
    font-weight: bold;
}