
.nav__menu {

}

.nav__list {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
    min-width: 200px;
}

.nav__list__item {

}

.active {
    font-weight: bold;
}