.footer {
    background-color: green;
    box-shadow: 3px 3px 5px 6px rgb(93, 109, 93);
    margin: 0 auto;
    min-height: 80px;
}

.footer__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    max-width: 400px;
    margin: 0 auto;
}